---
title: "Letters"
layout: default.hbs
permalink: false
---

<div class="grid">
  <div class="grid__content">
    {{#letters}}
      <hr class="squiggle squiggle--2">
      <p class="h3">Xth of Month, 2016</p>
      <h2 class="h2">To <a class="no-underline" href="/{{path}}">{{recipient}}, {{description}}.</a></h2>
      <h3>From {{sender}}. Recieved {{ dateFormat this.received}}.</h3>
    {{/letters}}
  </div>
  <div class="grid__aside">
    {{> social}}
  </div>
</div>
