<!doctype html>
<html class="no-js" lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{{title}}</title>
    <meta name="description" content="{{description}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="https://use.typekit.net/ojz0uvt.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <meta property="og:title" content="Dear Friend">

    {{#if images}}
      <meta property="og:description" content="A letter to {{recipient}}, from {{sender}}">
      <meta property="og:image" content="http://dev.dearfriend.org.uk/{{path}}/1.jpg">
    {{else}}
      <meta property="og:description" content="A letter-writing project celebrating women in public life and struggles for liberation.">
      <meta property="og:image" content="http://dev.dearfriend.org.uk/assets/img/logos/df.png">
    {{/if}}

    <link rel="stylesheet" href="/assets/css/site.css" />
    <link rel="icon" href="/assets/img/favicon.png" />
    <link rel="apple-touch-icon" href="/assets/img/apple-touch-icon.png" />

  </head>
  <body>

    <div class="main">
      {{> header}}
      <hr class="squiggle squiggle--1 js__hide-if-nav-visible">
