 <article class="event__container">
  <h2 class="h1">{{title}}</h2>
  <h3 class="h2">
    <time>
      {{#if this.multiple_days }}
        {{ dateTimeFormat this.start}} &ndash; {{ dateTimeFormat this.end}}
      {{else}}
        {{ dateTimeFormat this.start}} &ndash; {{ timeFormat this.end}}
      {{/if}}
    </time>,
    {{{location}}}
  </h3>
  {{{contents}}}
</article>
