 <article class="event__container">
  <h2 class="h1">{{title}}</h2>
  <h3 class="h2"><time>{{ dateFormat this.start}} &ndash; {{ dateFormat this.end}}</time>, {{{location}}}</h3>
  {{{contents}}}
</article>
