{{> head}}
  <h1 class="page-title">To <strong>{{recipient}}</strong>, {{description}}. From <strong>{{sender}}</strong>.</h1>
  <div class="grid">
    <div class="grid__content">
      <hr class="squiggle squiggle--4">
      <article class="letter container">
        <div class="letter__scan">
          {{#images}}
            <img src="./{{.}}" alt="Scan of a letter to {{recipient}}, from {{sender}}">
          {{/images}}
        </div>
        <h2>Transcript</h2>
        <div class="letter__transcription h3">
          {{{contents}}}
        </div>
      </article>
    </div>
    <div class="grid__aside">
      <div class="letter__meta">
        <hr class="squiggle squiggle--6">
        <h2>About {{recipient}}</h2>
        <p>
          {{#if born}}
            Born {{born}}{{#if died}}, died {{died}}{{/if}}.
          {{/if}}
          {{description}}.
          {{#if website}}
            <a href="{{{website}}}">More information about {{recipient}}</a>.
          {{/if}}
        </p>
        <p>
          Received {{ dateFormat this.received }}.</br>
          Published {{ dateFormat this.published }}.
        </p>
      </div>
    </div>
  </div>
{{> foot}}
